@model ErrorViewModel
@{
    ViewData["Title"] = Model.Message ?? "Error";
}

<div class="alert alert-danger">
    <h1 class="text-danger">Unhandled error ocurred</h1>

    <p>An unhandled error ocurred, try again later</p>

    <p>@Model.Message</p>

    <a href="/">Home</a>
</div>